centripeta force required by satellite to keep it in orbit
m=float(input("enter the value of m: "))
v=float(input("enter the value of v: "))
r=float(input("enter the value of r: "))
h=float(input("enter the value of h: "))
cf=m*v**2/r+h
print("the value of cf is : ",cf)

